<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metadata -->
      <package
            uri="http://it.ojp.gov/gsp/services/1.0.0"
            class="gov.ojp.it.gsp.services._1.metadata.metadataPackage"
            genModel="src/main/resources/model/metadata.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated metadata -->
      <parser
            type="metadata"
            class="gov.ojp.it.gsp.services._1.metadata.util.metadataResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Metadata -->
      <package
            uri="http://it.ojp.gov/gsp/services/1.0.0"
            class="gov.ojp.it.gsp.services._1._0.graPackage"
            genModel="src/main/resources/model/Metadata.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Metadata -->
      <parser
            type="gra"
            class="gov.ojp.it.gsp.services._1._0.util.graResourceFactoryImpl"/>
   </extension>
</plugin>
