<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GRAAnnotationModel -->
      <package
            uri="http://ijis.org/GRA/Annotations"
            class="data.grauml.graAnnotationModel.GraAnnotationModelPackage"
            genModel="src/main/resources/model/GRAAnnotationModel.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GRAAnnotationModel -->
      <package
            uri="http:/ijis.org/GRA/WSDLAnnotations"
            class="data.grauml.graWsdl.GraWsdlPackage"
            genModel="src/main/resources/model/GRAAnnotationModel.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GRAAnnotationModel -->
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/Types"
            class="types.TypesPackage"
            genModel="src/main/resources/model/GRAAnnotationModel.genmodel"/>
   </extension>
</plugin>
